.button-background {
    align-content: right;
background-color: transparent;
margin-left: .0px;
border-radius: 12px;
}

.popup-box{
    color:black; 
}

.status{
    display: block;
    font-size: 1em;
    transition: 0.3;
}

.name {
    padding: 5px;
    font-weight:normal;
    font-size: 1.5em;
    display: block;
    font-family:monospace;
    transition: 0.3;
}

.buttonGood {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 1px;
    display: block;            
    width: 100%;
    margin: 2px;
    text-align: center;
  }

  .buttonAlert {
    background-color:rgb(208, 3, 3); /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 1px;
    display: block;            
    width: 100%;
    margin: 2px;
    text-align: center;

  }

  .buttonDateAlert {
    background-color:orange; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 12px;
    font-weight: bolder;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 1px;
  }

  .buttonDateAlert:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: lightcyan; 
    color: black;
  }

.buttonGood:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: lightcyan; 
    color: black;
}

.buttonAlert:hover {    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: lightcyan; 
    color: black;
}

